body {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

#a {
    background-color: #ab93f3;
    width: 50px;
    height: 50px;
    float: left;
}
#b {
    background-color: #389f2a;
    width: 50px;
    height: 50px;
    float: left;
}
#c {
    background-color: #aef329;
    width: 50px;
    height: 50px;
    float: left;
}

#d {
    background-color: #8f3ba3;
    width: 50px;
    height: 50px;
    float: left;
}
#e {
    background-color: #55cc8c;
    width: 50px;
    height: 50px;
    float: left;
}
#f {
    background-color: #19c38d;
    width: 50px;
    height: 50px;
    float: left;
}
#g {
    background-color: #ddc99a;
    width: 50px;
    height: 50px;
    float: left;
}
#h {
    background-color: #999999;
    width: 50px;
    height: 50px;
    float: left;
}
#i {
    background-color: #ffed99;
    width: 50px;
    height: 50px;
    float: left;
}
#j {
    background-color: #afefdc;
    width: 50px;
    height: 50px;
    float: left;    
}
#k {
    background-color: #a1a1a1;
    width: 50px;
    height: 50px;
    float: left;    
}

#l {
    background-color: #100000;
    width: 50px;
    height: 50px;
    float: left;    
}
