/* color swatch as follows
Deep blue #097392 action items
light sea green/blue #83b4b3
egg shell yellowish white, background and light font color #fff0ce
burnt orange red (no use case yet, might drop) $d55534
dark gray black font and div backgrounds (nav for example) #383838*/

body {
  background-color: #fff0ce;
  overflow-x: clip !important;
}



/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
  height: 15vh;
  }

  #navName {
    float: left;
    font-size: 17px;
    margin-left: 2%
  }

  #navButtons {
    margin-right: 2%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: right;
	color: #383838;
	text-align: center;
	padding: 9px 7px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 15%;
  margin-left: 1%;
	
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #fff0ce;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #83b4b3;
	color: #383838;
  }

  #flavorShape {
    position: absolute;
    transform: rotate(-45deg);
    background-color: rgba(180, 193, 201, 0.25);
    top: 29.5%;
    left: -15%;
    width: 1000px;
    height: 150px;
    overflow: clip;
    direction: ltr;
  }

  body {
	  background-color: rgba(255, 240, 206, .25);
    font-family: sans-serif;
  }

  #intro_banner {
	  color: #383838;
	  font-family: sans-serif;
	  position: relative;
	  top: 115px;
	  margin-left: 5%;
	  max-width: fit-content;
	  height: 85vh;

  }
  
  #name_header {
	  font-size: 18px;
  }

  .blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #383838;    }
    49%{    color: #383838; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


  #name_hero {
	  font-size: 40px;
	  position: relative;
	  top: -20px;
  }

  #name_footer {
	  font-size: 18px;
	  position: relative;
	  top: -45px;
	}

  .vl {
    border-left: 3px solid #d55534;
    height: 50vh;
    left: 1px;
    position: absolute;
  }


  /* about */
  #about {
    margin-left: 5%;
    color: #383838;
    min-height: 100vh;
  }
  #passions {
    min-height: 100px;
    padding-top: 20px;
  }

  #blinkingpassions::before{
    content: "    ";
    color: transparent;
    animation:blinkingitem1 10s infinite;
  }
  @keyframes blinkingitem1{
    0%{     color: transparent;           }
    3.75%{   color: transparent           }
    4%{     content: " e"; color: #83b486;}
    4.25%{     content: " en"; color: #83b486;}
    4.5%{     content: " env"; color: #83b486;}
    4.75%{     content: " envi"; color: #83b486;}
    5%{     content: " envio"; color: #83b486;}
    5.25%{     content: " envior"; color: #83b486;}
    5.5%{     content: " enviorn"; color: #83b486;}
    5.75%{     content: " enviornm"; color: #83b486;}
    6%{     content: " enviornme"; color: #83b486;}
    6.25%{     content: " enviornmen"; color: #83b486;}
    6.5%{     content: " enviornment"; color: #83b486;}
    6.75%{     content: " enviornmenta"; color: #83b486;}
    7%{     content: " enviornmental"; color: #83b486;}
    7.25%{     content: " enviornmental d"; color: #83b486;}
    7.5%{     content: " enviornmental da"; color: #83b486;}
    7.75%{     content: " enviornmental dat"; color: #83b486;}
    8%{     content: " enviornmental data"; color: #83b486;}
    20.75%{    content: " enviornmental data"; color: #83b486;}
    21%{     content: " enviornmental dat"; color: #83b486;}
    21.25%{     content: " enviornmental da"; color: #83b486;}
    21.5%{     content: " enviornmental d"; color: #83b486;}
    21.75%{     content: " enviornmental"; color: #83b486;}
    22%{     content: " enviornmenta"; color: #83b486;}
    22.25%{     content: " enviornment"; color: #83b486;}
    22.5%{     content: " enviornmen"; color: #83b486;}
    22.75%{     content: " enviornme"; color: #83b486;}
    23%{     content: " enviornm"; color: #83b486;}
    23.25%{     content: " enviorn"; color: #83b486;}
    23.5%{     content: " envior"; color: #83b486;}
    23.75%{     content: " envio"; color: #83b486;}
    24%{     content: " envi"; color: #83b486;}
    24.25%{     content: " env"; color: #83b486;}
    24.5%{     content: " en"; color: #83b486;}
    24.75%{     content: " e"; color: #83b486;}
    25%{    color: transparent;           }
    28.75%{    color: transparent;           }
    29%{    content: " v"; color: #b55858;}
    29.25%{    content: " vi"; color: #b55858;}
    29.5%{    content: " vid"; color: #b55858;}
    29.75%{    content: " vide"; color: #b55858;}
    30%{    content: " video"; color: #b55858;}
    30.25%{    content: " video g"; color: #b55858;}
    30.5%{    content: " video ga"; color: #b55858;}
    30.75%{    content: " video gam"; color: #b55858;}
    31%{    content: " video game"; color: #b55858;}
    31.25%{    content: " video games"; color: #b55858;}
    46%{    content: " video games"; color: #b55858;}
    50%{    color: transparent;           }
    54%{    content: " automation"; color: #83b4b3;}
    71%{    content: " automation"; color: #83b4b3;}
    75%{    color: transparent;           }
    79%{    content: " policy"; color: #d7a52f;}
    96%{    content: " policy"; color: #d7a52f;}
    100%{    color: transparent;            }

  }
  

  /* projects */
  #projects {
    background-color: #83b4b3;
    min-height: 100vh
  }

/* contact */
  #aboutme {
    height: 100vh;
    color: #383838;
  } 